 body{
    background: #0b363c;
} 
.logo{
    width: 401px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.about-image{
    width: 431px;
    margin: 28px;
}
.about-section{
    margin-top: 6%;
}
.about-txt{
    color: wheat;
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
}
.about-txt p{
    font-family: 'Lato', sans-serif, 'google';
    font-size: 1em;
    letter-spacing: 0.03em;
    word-spacing: 0em;
    line-height: 1.74em;
    color: wheat;
    text-transform: none;
    font-weight: normal;
}
.title{
    text-align: center;
    color: wheat;
    font-size: 22px;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
}
.about-logo{
    background: wheat; 
    width: 486px;
}
@media only screen and (max-width: 882px){
    .about-image{
        width: 84%;
    }
    .about-logo{
        width: 99%;
    }
}