body {
    background: #0b363c;
    padding-top: 85px;
}
.logo{
    width: 401px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: wheat;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #0d464d;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
@media only screen and (max-width: 370px){
    .h1{
        font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 56px;
    color: white;
    text-align: center;
    }
}
#status{
    color: white;
    text-align: center;
    width: 50%;
    max-width: 500px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.success{
    background: green;
    animation: status 1s ease forwards ;
}
.error{
    background: red;
    
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;

    }
    90%{
        opacity: 1;
        pointer-events: all;
        
    }
    100%{
        opacity: 0;
        pointer-events: none;
        
    }
}
.instagram-link-section{
    margin-top: 19%;
}
.instagram-link-section h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif, 'google';
    font-size: 0.720rem;
    letter-spacing: 0.27em;
    word-spacing: 0em;
    line-height: 0.96em;
    text-transform: uppercase;
    font-weight: normal;
    color: #e9bba4;
}
.instagram-link-section p {
    text-align: center;
   
}
.instagram-link-section a{
    text-decoration: none;
    font-family: 'Prata', serif, 'google'; 
    letter-spacing: 0.04em;
    word-spacing: 0em;
    line-height: 1.3em;
    color: #e9bba4;
    text-transform: none;
    font-weight: normal;
}
.section{
    padding: 17px;
    font-family: 'Roboto', sans-serif, 'google';
    font-size: 0.725rem;
    letter-spacing: 0.27em;
    word-spacing: 0em;
    line-height: 0.96em;
    color: #0a0a0a;
    text-transform: uppercase;
    font-weight: normal;
}
.section p{
    text-align: center;
}
footer{
    margin-top: 265px;
    background: #dddbdb;
    height: 348px;
    padding: 118px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons i{
    margin: 12px;
}
.social-icons a{
    color: #0a0a0a;
}
